.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width:600px){
  .headernavlink  > a{
   
    
    font-size: 13px;



  }
  .headerdesign{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    
  }
  .btndesign{
   
     padding: 1px ;
     font-size:11px;

  
  }
  .btndesign{
    padding: 12px;
  }
 
}


@media (max-width:520px){
  .headernavlink  > a{
   
    
    font-size: 14px;

    padding: 0px;

  }
  .headerdesign{
    display: flex;
    justify-items: center;
    justify-content: space-around;
  
    
  }
  .btndesign{
   
     padding: 1px ;
     font-size:11px;

  
  }
  .btndesign{
    padding: 12px;
  }
 
}


@media (max-width:420px){
  .headernavlink  > a{
   
    
    font-size: 13px;

     padding: 12px;

  }
  .headerdesign{
    display: flex;
    justify-items: center;
    justify-content: space-around;
  
    
  }
  .btndesign{
   
     padding: 1px ;
     font-size:1px;

  
  }
  .btndesign{
    padding: 12px;
  }
 
}



@media (max-width:379px){
  .headernavlink  > a{
   
    
    font-size: 12px;



  }
  .headerdesign{
    display: flex;
    justify-items: center;
    justify-content: space-around;
  
    
  }
  .btndesign{
   
     padding: 1px ;
     font-size:1px;

  
  }
  .btndesign{
    padding: 12px;
  }
 
}

.link:hover{
  color:red;

  text-decoration: dashed;

  
}
.drop:hover{
  color:red;
}




